Repository turbot/tdk, pull requests merged in 2021-02, with the labels that each got.

#359 Baseline - Refactor AWS check S3 baseline #358
  .gitignore
  baselines/getting_started/aws/aws_baseline/demo.tfvars
  baselines/getting_started/aws/aws_check_cost_controls/demo.tfvars
  baselines/getting_started/aws/aws_check_public_access/demo.tfvars
  baselines/getting_started/aws/aws_check_regions/demo.tfvars
  baselines/getting_started/aws/aws_check_s3/README.md
  baselines/getting_started/aws/aws_check_s3/demo.tfvars
  baselines/getting_started/aws/aws_check_s3/main.tf
  baselines/getting_started/aws/aws_check_s3/misc.tf
  baselines/getting_started/aws/aws_check_s3/outputs.tf
  baselines/getting_started/aws/aws_check_s3/providers.tf
  baselines/getting_started/aws/aws_check_s3/s3_access_logging_policies.tf
  baselines/getting_started/aws/aws_check_s3/s3_active_policies.tf
  baselines/getting_started/aws/aws_check_s3/s3_approved_policies.tf
  baselines/getting_started/aws/aws_check_s3/s3_enable_policies.tf
  baselines/getting_started/aws/aws_check_s3/s3_encryption_policies.tf
  baselines/getting_started/aws/aws_check_s3/s3_permission_policies.tf
  baselines/getting_started/aws/aws_check_s3/s3_public_access_policies.tf
  baselines/getting_started/aws/aws_check_s3/s3_tag_policies.tf
  baselines/getting_started/aws/aws_check_s3/s3_trusted_access_policies.tf
  baselines/getting_started/aws/aws_check_s3/s3_versioning_policies.tf
  baselines/getting_started/aws/aws_check_s3/smart_folder.tf
  baselines/getting_started/aws/aws_check_s3/terraform.tfvars
  baselines/getting_started/aws/aws_check_s3/trusted_account_template.tf
  baselines/getting_started/aws/aws_check_s3/variables.tf
  baselines/getting_started/aws/aws_check_tagging/demo.tfvars
  baselines/getting_started/azure/azure_baseline/demo.tfvars
  baselines/getting_started/azure/azure_check_cost_controls/demo.tfvars
  baselines/getting_started/azure/azure_check_regions/demo.tfvars
  baselines/getting_started/azure/azure_check_tagging/demo.tfvars
  baselines/getting_started/gcp/gcp_baseline/demo.tfvars
  baselines/getting_started/gcp/gcp_check_cost_controls/demo.tfvars
  baselines/getting_started/gcp/gcp_check_labeling/demo.tfvars
  baselines/getting_started/gcp/gcp_check_public_access/demo.tfvars
  baselines/getting_started/gcp/gcp_check_regions/demo.tfvars
  baselines/getting_started/turbot/turbot_profiles/demo.tfvars
Labels: enhancement

#356 Calculated Policy - Adding delay for AWS Lambda Function approved usage #353
  calculated_policies/aws_lambda_function_approved_usage/README.md
  calculated_policies/aws_lambda_function_approved_usage/default.tfvars
  calculated_policies/aws_lambda_function_approved_usage/main.tf
  calculated_policies/aws_lambda_function_approved_usage/variables.tf
Labels: calculated-policy

#363 TrimBot - Expand functionality to have AWS only #362
  trimbot/config/aws_account_only.yaml
  trimbot/config/managed_account.yaml
  trimbot/config/master_account.yaml
  trimbot/main.py
  trimbot/trimbot_modules/configuration.py
  trimbot/trimbot_modules/resource_service_factory.py
Labels: enhancement, trimbot

#361 Baseline - Refactoring AWS Check Regions #364
  baselines/getting_started/aws/aws_baseline/regions.tf
  baselines/getting_started/aws/aws_check_regions/README.md
  baselines/getting_started/aws/aws_check_regions/approved_regions.tf
  baselines/getting_started/aws/aws_check_regions/approved_regions_policies.tf
  baselines/getting_started/aws/aws_check_regions/demo.tfvars
  baselines/getting_started/aws/aws_check_regions/locals.tf
  baselines/getting_started/aws/aws_check_regions/main.tf
  baselines/getting_started/aws/aws_check_regions/outputs.tf
  baselines/getting_started/aws/aws_check_regions/providers.tf
  baselines/getting_started/aws/aws_check_regions/smart_folder.tf
  baselines/getting_started/aws/aws_check_regions/variables.tf
  baselines/getting_started/aws/aws_check_s3/variables.tf
Labels: baseline

#397 Installation - Update turbot_bastion_host file to support connections to Redis #396
  installation/turbot_bastion_host/README.md
  installation/turbot_bastion_host/turbot_bastion_host.yaml
Labels: enhancement

#415 Baseline - Notification to SecurityHub #416
  baselines/notifications/security-hub/README.md
  baselines/notifications/security-hub/aws_data.tf
  baselines/notifications/security-hub/aws_iam.tf
  baselines/notifications/security-hub/aws_lambda.tf
  baselines/notifications/security-hub/aws_sns.tf
  baselines/notifications/security-hub/aws_sqs.tf
  baselines/notifications/security-hub/create-watch-mutation-input.json
  baselines/notifications/security-hub/create-watch-mutation.graphql
  baselines/notifications/security-hub/demo.tfvars
  baselines/notifications/security-hub/lambda_function.py
  baselines/notifications/security-hub/lambda_handler.zip
  baselines/notifications/security-hub/locals.tf
  baselines/notifications/security-hub/providers.tf
  baselines/notifications/security-hub/requirements.txt
  baselines/notifications/security-hub/turbot_policies.tf
  baselines/notifications/security-hub/variables.tf
Labels: aws, baseline

#421 Baseline - Security Hub performance improvements #420
  baselines/notifications/security-hub/lambda_function.py
  baselines/notifications/security-hub/lambda_handler.zip
Labels: baseline

#401 Baseline - Refactor AWS check encryption #367
  baselines/getting_started/aws/aws_check_encryption/README.md
  baselines/getting_started/aws/aws_check_encryption/backup vault.tf
  baselines/getting_started/aws/aws_check_encryption/backup_policies.tf
  baselines/getting_started/aws/aws_check_encryption/cloudtrail_policies.tf
  baselines/getting_started/aws/aws_check_encryption/demo.tfvars
  baselines/getting_started/aws/aws_check_encryption/dynamodb_policies.tf
  baselines/getting_started/aws/aws_check_encryption/ec2.tf
  baselines/getting_started/aws/aws_check_encryption/ec2_policies.tf
  baselines/getting_started/aws/aws_check_encryption/efs.tf
  baselines/getting_started/aws/aws_check_encryption/efs_policies.tf
  baselines/getting_started/aws/aws_check_encryption/elasticsearch.tf
  baselines/getting_started/aws/aws_check_encryption/elasticsearch_policies.tf
  baselines/getting_started/aws/aws_check_encryption/kinesis_policies.tf
  baselines/getting_started/aws/aws_check_encryption/kms.tf
  baselines/getting_started/aws/aws_check_encryption/kms_policies.tf
  baselines/getting_started/aws/aws_check_encryption/lambda_policies.tf
  baselines/getting_started/aws/aws_check_encryption/logs_policies.tf
  baselines/getting_started/aws/aws_check_encryption/main.tf
  baselines/getting_started/aws/aws_check_encryption/misc.tf
  baselines/getting_started/aws/aws_check_encryption/outputs.tf
  baselines/getting_started/aws/aws_check_encryption/providers.tf
  baselines/getting_started/aws/aws_check_encryption/rds.tf
  baselines/getting_started/aws/aws_check_encryption/rds_policies.tf
  baselines/getting_started/aws/aws_check_encryption/redshift_policies.tf
  baselines/getting_started/aws/aws_check_encryption/s3.tf
  baselines/getting_started/aws/aws_check_encryption/s3_policies.tf
  baselines/getting_started/aws/aws_check_encryption/secretmanager_policies.tf
  baselines/getting_started/aws/aws_check_encryption/smart_folder.tf
  baselines/getting_started/aws/aws_check_encryption/sns_policies.tf
  baselines/getting_started/aws/aws_check_encryption/sqs_policies.tf
  baselines/getting_started/aws/aws_check_encryption/ssm_policies.tf
  baselines/getting_started/aws/aws_check_encryption/variables.tf
  baselines/getting_started/aws/aws_check_regions/README.md
Labels: aws

#411 Baseline - Refactor AWS check tagging #374
  baselines/getting_started/aws/aws_check_tagging/README.md
  baselines/getting_started/aws/aws_check_tagging/aws_tagging.tf
  baselines/getting_started/aws/aws_check_tagging/demo.tfvars
  baselines/getting_started/aws/aws_check_tagging/locals.tf
  baselines/getting_started/aws/aws_check_tagging/main.tf
  baselines/getting_started/aws/aws_check_tagging/outputs.tf
  baselines/getting_started/aws/aws_check_tagging/providers.tf
  baselines/getting_started/aws/aws_check_tagging/smart_folder.tf
  baselines/getting_started/aws/aws_check_tagging/variables.tf
Labels: aws, baseline, enhancement

#408 Baseline - Refactor AWS baseline. Closes #365
  baselines/getting_started/aws/aws_baseline/README.md
  baselines/getting_started/aws/aws_baseline/aws_service_enable.tf
  baselines/getting_started/aws/aws_baseline/demo.tfvars
  baselines/getting_started/aws/aws_baseline/enable_cis.tf
  baselines/getting_started/aws/aws_baseline/main.tf
  baselines/getting_started/aws/aws_baseline/outputs.tf
  baselines/getting_started/aws/aws_baseline/providers.tf
  baselines/getting_started/aws/aws_baseline/real_time_events.tf
  baselines/getting_started/aws/aws_baseline/regions.tf
  baselines/getting_started/aws/aws_baseline/smart_folder.tf
  baselines/getting_started/aws/aws_baseline/variables.tf
  baselines/getting_started/aws/aws_baseline/vpc_policies.tf
Labels: aws

#403 Baseline - Refactor AWS check logging #369
  baselines/getting_started/aws/aws_check_logging/README.md
  baselines/getting_started/aws/aws_check_logging/aws_turbot_logging.tf
  baselines/getting_started/aws/aws_check_logging/cloudtrail_policies.tf
  baselines/getting_started/aws/aws_check_logging/config_policies.tf
  baselines/getting_started/aws/aws_check_logging/demo.tfvars
  baselines/getting_started/aws/aws_check_logging/loadbalancer_policies.tf
  baselines/getting_started/aws/aws_check_logging/main.tf
  baselines/getting_started/aws/aws_check_logging/misc.tf
  baselines/getting_started/aws/aws_check_logging/output.tf
  baselines/getting_started/aws/aws_check_logging/provider.tf
  baselines/getting_started/aws/aws_check_logging/redshift_policies.tf
  baselines/getting_started/aws/aws_check_logging/s3_policies.tf
  baselines/getting_started/aws/aws_check_logging/smart_folder.tf
  baselines/getting_started/aws/aws_check_logging/variable.tf
  baselines/getting_started/aws/aws_check_logging/vpc_policies.tf
Labels: aws

#404 Baseline - Refactor AWS check IAM. Closes #368
  baselines/getting_started/aws/aws_check_iam/README.md
  baselines/getting_started/aws/aws_check_iam/access_key_rotation.tf
  baselines/getting_started/aws/aws_check_iam/account_password_policy.tf
  baselines/getting_started/aws/aws_check_iam/demo.tfvars
  baselines/getting_started/aws/aws_check_iam/deny_star_policy_stmt.tf
  baselines/getting_started/aws/aws_check_iam/group_inline_star_policy_stmt.tf
  baselines/getting_started/aws/aws_check_iam/group_policy_attachment.tf
  baselines/getting_started/aws/aws_check_iam/main.tf
  baselines/getting_started/aws/aws_check_iam/output.tf
  baselines/getting_started/aws/aws_check_iam/provider.tf
  baselines/getting_started/aws/aws_check_iam/role_inline_star_policy_stmt.tf
  baselines/getting_started/aws/aws_check_iam/role_policy_attachment.tf
  baselines/getting_started/aws/aws_check_iam/role_trust_policy.tf
  baselines/getting_started/aws/aws_check_iam/smart_folder.tf
  baselines/getting_started/aws/aws_check_iam/user_inline_star_policy_stmt.tf
  baselines/getting_started/aws/aws_check_iam/user_mfakey_usage.tf
  baselines/getting_started/aws/aws_check_iam/user_policy_attachment.tf
  baselines/getting_started/aws/aws_check_iam/variable.tf
Labels: aws

#413 Baseline - Refactor AWS check stack #373
  baselines/getting_started/aws/aws_check_stack/README.md
  baselines/getting_started/aws/aws_check_stack/aws_account_iam_stack_policies.tf
  baselines/getting_started/aws/aws_check_stack/main.tf
  baselines/getting_started/aws/aws_check_stack/outputs.tf
  baselines/getting_started/aws/aws_check_stack/providers.tf
  baselines/getting_started/aws/aws_check_stack/smart_folder.tf
  baselines/getting_started/aws/aws_check_stack/tf_includes/sourcestack_policies.tf
  baselines/getting_started/aws/aws_check_stack/variables.tf
Labels: aws, baseline, enhancement

#429 Baseline - Refactor GCP check encryption #385
  baselines/getting_started/aws/aws_check_tagging/providers.tf
  baselines/getting_started/gcp/gcp_check_encryption/README.md
  baselines/getting_started/gcp/gcp_check_encryption/bigquery_policies.tf
  baselines/getting_started/gcp/gcp_check_encryption/compute_engine_policies.tf
  baselines/getting_started/gcp/gcp_check_encryption/dataflow.tf
  baselines/getting_started/gcp/gcp_check_encryption/dataproc.tf
  baselines/getting_started/gcp/gcp_check_encryption/kubernetes_engine_policies.tf
  baselines/getting_started/gcp/gcp_check_encryption/main.tf
  baselines/getting_started/gcp/gcp_check_encryption/outputs.tf
  baselines/getting_started/gcp/gcp_check_encryption/providers.tf
  baselines/getting_started/gcp/gcp_check_encryption/pubsub_policies.tf
  baselines/getting_started/gcp/gcp_check_encryption/smartfolder.tf
  baselines/getting_started/gcp/gcp_check_encryption/storage_policies.tf
  baselines/getting_started/gcp/gcp_check_encryption/variables.tf
Labels: baseline, enhancement, gcp

#433 Baseline - Refactor GCP check logging #389
  baselines/getting_started/gcp/gcp_check_logging/README.md
  baselines/getting_started/gcp/gcp_check_logging/kubernetes_engine_policies.tf
  baselines/getting_started/gcp/gcp_check_logging/main.tf
  baselines/getting_started/gcp/gcp_check_logging/misc.tf
  baselines/getting_started/gcp/gcp_check_logging/network_logging_policies.tf
  baselines/getting_started/gcp/gcp_check_logging/outputs.tf
  baselines/getting_started/gcp/gcp_check_logging/providers.tf
  baselines/getting_started/gcp/gcp_check_logging/smartfolder.tf
  baselines/getting_started/gcp/gcp_check_logging/sql_policies.tf
  baselines/getting_started/gcp/gcp_check_logging/variables.tf
Labels: baseline, enhancement, gcp

#431 Baseline - Refactor GCP check IAM #387
  baselines/getting_started/gcp/gcp_check_iam/README.md
  baselines/getting_started/gcp/gcp_check_iam/demo.tfvars
  baselines/getting_started/gcp/gcp_check_iam/main.tf
  baselines/getting_started/gcp/gcp_check_iam/outputs.tf
  baselines/getting_started/gcp/gcp_check_iam/providers.tf
  baselines/getting_started/gcp/gcp_check_iam/service_account_key.tf
  baselines/getting_started/gcp/gcp_check_iam/service_account_key_policies.tf
  baselines/getting_started/gcp/gcp_check_iam/service_account_policy_trust.tf
  baselines/getting_started/gcp/gcp_check_iam/service_account_policy_trust_policies.tf
  baselines/getting_started/gcp/gcp_check_iam/smartfolder.tf
  baselines/getting_started/gcp/gcp_check_iam/variables.tf
Labels: baseline, enhancement, gcp

#324 Baseline - AWS CMDB Disable baseline #435
  baselines/aws/aws_disable_cmdb/README.md
  baselines/aws/aws_disable_cmdb/aws_cmdb.tf
  baselines/aws/aws_disable_cmdb/main.tf
  baselines/aws/aws_disable_cmdb/versions.tf
Labels: baseline, enhancement

#432 Baseline - Refactor GCP check labelling #388
  baselines/getting_started/gcp/gcp_check_labeling/README.md
  baselines/getting_started/gcp/gcp_check_labeling/demo.tfvars
  baselines/getting_started/gcp/gcp_check_labeling/labeling_policies.tf
  baselines/getting_started/gcp/gcp_check_labeling/locals.tf
  baselines/getting_started/gcp/gcp_check_labeling/main.tf
  baselines/getting_started/gcp/gcp_check_labeling/outputs.tf
  baselines/getting_started/gcp/gcp_check_labeling/providers.tf
  baselines/getting_started/gcp/gcp_check_labeling/smartfolder.tf
  baselines/getting_started/gcp/gcp_check_labeling/vaiables.tf
Labels: baseline, enhancement, gcp

#437 Baseline - Refactor GCP check regions, Closes #391
  baselines/getting_started/gcp/gcp_check_regions/README.md
  baselines/getting_started/gcp/gcp_check_regions/approved_regions_policies.tf
  baselines/getting_started/gcp/gcp_check_regions/demo.tfvars
  baselines/getting_started/gcp/gcp_check_regions/locals.tf
  baselines/getting_started/gcp/gcp_check_regions/main.tf
  baselines/getting_started/gcp/gcp_check_regions/outputs.tf
  baselines/getting_started/gcp/gcp_check_regions/providers.tf
  baselines/getting_started/gcp/gcp_check_regions/smartfolder.tf
  baselines/getting_started/gcp/gcp_check_regions/variables.tf
Labels: baseline, enhancement, gcp

#427 Baseline - Refactor Azure check logging #378
  baselines/getting_started/azure/azure_check_logging/README.md
  baselines/getting_started/azure/azure_check_logging/db_threat_protection_policies.tf
  baselines/getting_started/azure/azure_check_logging/main.tf
  baselines/getting_started/azure/azure_check_logging/outputs.tf
  baselines/getting_started/azure/azure_check_logging/postgresql_logging_policies.tf
  baselines/getting_started/azure/azure_check_logging/providers.tf
  baselines/getting_started/azure/azure_check_logging/smartfolder.tf
  baselines/getting_started/azure/azure_check_logging/sql_logging_policies.tf
  baselines/getting_started/azure/azure_check_logging/storage_logging_policies.tf
  baselines/getting_started/azure/azure_check_logging/variables.tf
Labels: azure, baseline, enhancement

#426 Baseline - Refactor Azure check tagging #382
  baselines/getting_started/azure/azure_check_regions/versions.tf
  baselines/getting_started/azure/azure_check_tagging/README.md
  baselines/getting_started/azure/azure_check_tagging/demo.tfvars
  baselines/getting_started/azure/azure_check_tagging/locals.tf
  baselines/getting_started/azure/azure_check_tagging/tagging_policies.tf
  baselines/getting_started/azure/azure_check_tagging/variables.tf
Labels: azure, baseline, enhancement

#424 Baseline - Refactor Azure check regions #380
  baselines/getting_started/azure/azure_check_regions/README.md
  baselines/getting_started/azure/azure_check_regions/approved_regions.tf
  baselines/getting_started/azure/azure_check_regions/approved_regions_policies.tf
  baselines/getting_started/azure/azure_check_regions/demo.tfvars
  baselines/getting_started/azure/azure_check_regions/locals.tf
  baselines/getting_started/azure/azure_check_regions/main.tf
  baselines/getting_started/azure/azure_check_regions/outputs.tf
  baselines/getting_started/azure/azure_check_regions/providers.tf
  baselines/getting_started/azure/azure_check_regions/smart_folder.tf
  baselines/getting_started/azure/azure_check_regions/vaiables.tf
Labels: azure, baseline, enhancement

#447 Security Hub - Caching #446
  .gitignore
  baselines/notifications/security-hub/aws_data.tf
  baselines/notifications/security-hub/aws_elasticache.tf
  baselines/notifications/security-hub/aws_iam.tf
  baselines/notifications/security-hub/aws_lambda.tf
  baselines/notifications/security-hub/aws_sns.tf
  baselines/notifications/security-hub/aws_sqs.tf
  baselines/notifications/security-hub/aws_vpc.tf
  baselines/notifications/security-hub/demo-disable-caching.tfvars
  baselines/notifications/security-hub/demo-enable-caching.tfvars
  baselines/notifications/security-hub/deployment-package.zip
  baselines/notifications/security-hub/lambda_function.py
  baselines/notifications/security-hub/lambda_handler.zip
  baselines/notifications/security-hub/lamdba_handler_sqs.py
  baselines/notifications/security-hub/launch.py
  baselines/notifications/security-hub/locals.tf
  baselines/notifications/security-hub/package-lambda.sh
  baselines/notifications/security-hub/providers.tf
  baselines/notifications/security-hub/requirements.txt
  baselines/notifications/security-hub/variables.tf
Labels: security_hub

#444 Clean AWS baseline TF files to remove default and readme updates. Closes #441
  baselines/getting_started/aws/aws_check_cost_controls/README.md
  baselines/getting_started/aws/aws_check_cost_controls/variables.tf
  baselines/getting_started/aws/aws_check_encryption/README.md
  baselines/getting_started/aws/aws_check_encryption/variables.tf
  baselines/getting_started/aws/aws_check_public_access/README.md
  baselines/getting_started/aws/aws_check_public_access/variable.tf
  baselines/getting_started/aws/aws_check_regions/README.md
  baselines/getting_started/aws/aws_check_regions/variables.tf
  baselines/getting_started/aws/aws_check_stack/aws_account_iam_stack_policies.tf
  baselines/getting_started/aws/aws_check_stack/outputs.tf
  baselines/getting_started/aws/aws_check_stack/variables.tf
Labels: aws, baseline, cleanup

#445 Baseline - Clean GCP baseline TF files to remove default and readme updates #443
  baselines/getting_started/gcp/gcp_baseline/README.md
  baselines/getting_started/gcp/gcp_baseline/variables.tf
Labels: baseline, cleanup, gcp

#298 Calculated Policy - Example folder structure using Terraform #305
  baselines/turbot/example_folder_hierarchy/README.md
  baselines/turbot/example_folder_hierarchy/default.tfvars
  baselines/turbot/example_folder_hierarchy/main.tf
  baselines/turbot/example_folder_hierarchy/variables.tf
  calculated_policies/aws_ec2_cross_account_ami_snapshot/README.md
  calculated_policies/aws_ec2_cross_account_ami_snapshot/default.tfvars
  calculated_policies/aws_ec2_cross_account_ami_snapshot/main.tf
  calculated_policies/aws_ec2_cross_account_ami_snapshot/variables.tf
Labels: calculated-policy, enhancement

#438 TrimBot - V5 clean up recipe and supporting objects #399
  trimbot/config/aws_account_only.yaml
  trimbot/recipes/aws_account_only.yaml
  trimbot/trimbot_modules/cloudwatch_logs.py
  trimbot/trimbot_modules/event_rule.py
  trimbot/trimbot_modules/lam_function.py
  trimbot/trimbot_modules/resource_service_factory.py
  trimbot/trimbot_modules/sns_topic.py
Labels: trimbot

#291 Control Objective - Fix title for AWS EC2 - Restrict Instance images to trusted AWS accounts AMIs #301
  calculated_policies/aws_vpc_security_group_restrict/README.md
Labels: bug, control-objective
