Repository turbot/tdk, pull requests merged in 2021-03, with the labels that each got.

#468 Baseline - Add CIS install mod. Closes #455
  baselines/getting_started/turbot/cis_mod/README.md
  baselines/getting_started/turbot/cis_mod/mod_install.tf
  baselines/getting_started/turbot/cis_mod/outputs.tf
  baselines/getting_started/turbot/cis_mod/provider.tf
  baselines/getting_started/turbot/cis_mod/variables.tf
Labels: baseline, cis, enhancement

#467 Baseline - Add GCP install mods. Closes #454
  baselines/getting_started/gcp/gcp_mods/README.md
  baselines/getting_started/gcp/gcp_mods/mod_install.tf
  baselines/getting_started/gcp/gcp_mods/ouputs.tf
  baselines/getting_started/gcp/gcp_mods/provider.tf
  baselines/getting_started/gcp/gcp_mods/variables.tf
Labels: baseline, enhancement, gcp

#466 Baseline - Add Azure install mods. Closes #453
  baselines/getting_started/azure/azure_mods/README.md
  baselines/getting_started/azure/azure_mods/mod_install.tf
  baselines/getting_started/azure/azure_mods/outputs.tf
  baselines/getting_started/azure/azure_mods/providers.tf
  baselines/getting_started/azure/azure_mods/variables.tf
Labels: azure, baseline, enhancement

#463 Baseline - Add AWS install mods. Closes #452
  baselines/getting_started/aws/aws_mods/README.md
  baselines/getting_started/aws/aws_mods/demo.tfvars
  baselines/getting_started/aws/aws_mods/mod_install.tf
  baselines/getting_started/aws/aws_mods/outputs.tf
  baselines/getting_started/aws/aws_mods/providers.tf
  baselines/getting_started/aws/aws_mods/variables.tf
Labels: aws, enhancement

#451 Baseline - GCP terraform file rename - clean up. Closes #450
  baselines/getting_started/gcp/gcp_baseline/enable_cis_policies.tf
  baselines/getting_started/gcp/gcp_baseline/enable_policies.tf
  baselines/getting_started/gcp/gcp_baseline/event_poller_policies.tf
Labels: baseline, cleanup, gcp

#449 Calculated Policy - GCP sets approved images based on project or approved image lists. Closes #417
  calculated_policies/gcp_compute_engine_image_approved_usage/README.md
  calculated_policies/gcp_compute_engine_image_approved_usage/default.tfvars
  calculated_policies/gcp_compute_engine_image_approved_usage/main.tf
  calculated_policies/gcp_compute_engine_image_approved_usage/variables.tf
Labels: calculated-policy, enhancement, gcp

#448 Calculated Policy - AWS find unallocated elastic IPs. Closes #418
  calculated_policies/aws_vpc_unallocated_ip_approved_usage/README.md
  calculated_policies/aws_vpc_unallocated_ip_approved_usage/default.tfvars
  calculated_policies/aws_vpc_unallocated_ip_approved_usage/main.tf
  calculated_policies/aws_vpc_unallocated_ip_approved_usage/variables.tf
Labels: aws, calculated-policy, enhancement

#469 Baseline - Fix `AWS > IAM > Policy > Approved > Usage` calc policy logic #461
  baselines/getting_started/aws/aws_check_iam/deny_star_policy_stmt.tf
Labels: aws, baseline

#474 GraphQL - Sort and update mod queries #473
  api_examples/graphql/queries/install_mod.graphql
  api_examples/graphql/queries/mods/get_available_versions_for_mod.graphql
  api_examples/graphql/queries/mods/install_mod.graphql
  api_examples/graphql/queries/mods/list_installed_mods.graphql
  api_examples/graphql/queries/mods/notes.md
  api_examples/graphql/queries/mods/uninstall_mod.graphql
Labels: graphql

#482 Documentation - Amend password reset readme.md #481
  api_examples/graphql/queries/password_reset/README.md
Labels: documentation

#480 GraphQL - List resource types by totals #479
  api_examples/graphql/queries/list_total_resources_by_resource_type.graphql
Labels: graphql

#484 Calculated Policy - EC2 volume unattached #483
  calculated_policies/aws_ec2_volume_unattached/README.md
  calculated_policies/aws_ec2_volume_unattached/default.tfvars
  calculated_policies/aws_ec2_volume_unattached/main.tf
  calculated_policies/aws_ec2_volume_unattached/variables.tf
Labels: calculated-policy

#478 Baseline - Smart retention policies #477
  baselines/getting_started/turbot/smart_retention/README.md
  baselines/getting_started/turbot/smart_retention/default.tfvars
  baselines/getting_started/turbot/smart_retention/main.tf
  baselines/getting_started/turbot/smart_retention/variables.tf
Labels: baseline

#486 Baseline - Enhance v3 to v5 migrate baseline #485
  baselines/aws/aws_v3_v5_migration/README.md
  baselines/aws/aws_v3_v5_migration/default.tfvars
  baselines/aws/aws_v3_v5_migration/main.tf
  baselines/aws/aws_v3_v5_migration/providers.tf
  baselines/aws/aws_v3_v5_migration/smart_folder.tf
  baselines/aws/aws_v3_v5_migration/turbot_policies.tf
  baselines/aws/aws_v3_v5_migration/variables.tf
Labels: baseline

#496 Baseline - Fix GCP Cost Polices #493
  baselines/getting_started/gcp/gcp_check_cost_controls/active_policies.tf
  baselines/getting_started/gcp/gcp_check_cost_controls/compute_engine_policies.tf
  baselines/getting_started/gcp/gcp_check_cost_controls/network_policies.tf
  baselines/getting_started/gcp/gcp_check_cost_controls/outputs.tf
  baselines/getting_started/gcp/gcp_check_cost_controls/schedules_policies.tf
  baselines/getting_started/gcp/gcp_check_cost_controls/smart_folder.tf
  baselines/getting_started/gcp/gcp_check_cost_controls/variables.tf
Labels: baseline, bug

#497 Baseline - Fix GCP Cost Polices #493
  baselines/getting_started/gcp/gcp_check_cost_controls/compute_engine_active_policies.tf
  baselines/getting_started/gcp/gcp_check_cost_controls/compute_engine_schedule_policies.tf
  baselines/getting_started/gcp/gcp_check_cost_controls/network_approved_policies.tf
  baselines/getting_started/gcp/gcp_check_cost_controls/outputs.tf
  baselines/getting_started/gcp/gcp_check_cost_controls/variables.tf
Labels: bug, calculated-policy

#499 Baseline - Simplify GCP check encryption and address consistency #498
  baselines/getting_started/gcp/gcp_check_encryption/bigquery_encryption_policies.tf
  baselines/getting_started/gcp/gcp_check_encryption/compute_engine_encryption_policies.tf
  baselines/getting_started/gcp/gcp_check_encryption/dataflow_encryption_policies.tf
  baselines/getting_started/gcp/gcp_check_encryption/dataproc_encryption_policies.tf
  baselines/getting_started/gcp/gcp_check_encryption/kubernetes_engine_encryption_policies.tf
  baselines/getting_started/gcp/gcp_check_encryption/outputs.tf
  baselines/getting_started/gcp/gcp_check_encryption/pub_sub_encryption_policies.tf
  baselines/getting_started/gcp/gcp_check_encryption/storage_encryption_policies.tf
  baselines/getting_started/gcp/gcp_check_encryption/variables.tf
Labels: bug, calculated-policy

#501 Baseline - Simplify GCP check IAM and address consistency #500
  baselines/getting_started/gcp/gcp_check_iam/demo.tfvars
  baselines/getting_started/gcp/gcp_check_iam/outputs.tf
  baselines/getting_started/gcp/gcp_check_iam/service_account_key_active_policies.tf
  baselines/getting_started/gcp/gcp_check_iam/service_account_key_approved_policies.tf.tf
  baselines/getting_started/gcp/gcp_check_iam/service_account_key_policies.tf
  baselines/getting_started/gcp/gcp_check_iam/service_account_trust_access_policies.tf
  baselines/getting_started/gcp/gcp_check_iam/smart_folder.tf
  baselines/getting_started/gcp/gcp_check_iam/variables.tf
Labels: baseline, bug

#503 Baseline - Simplify GCP check public access and address consistency #502
  baselines/getting_started/gcp/gcp_check_public_access/compute_engine_policies.tf
  baselines/getting_started/gcp/gcp_check_public_access/network_policies.tf
  baselines/getting_started/gcp/gcp_check_public_access/outputs.tf
  baselines/getting_started/gcp/gcp_check_public_access/trusted_access_policies.tf
  baselines/getting_started/gcp/gcp_check_public_access/variables.tf
Labels: baseline, bug, gcp
